@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  overscroll-behavior: none; /* Prevent pull-to-refresh on mobile */
}

/* Base mobile styles */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* App-like feel */
}
